notifications:
  email: false
sudo: enabled
os: linux
language: python
python: 3.7-dev
cache: pip
env:
  global:
    - GH_REPO=Drakkar-Software/OctoBot-Trading
    - DEPLOY_BRANCH=master
    - PACKAGE_FOLDER=octobot_trading
    - secure: pR29cjwb+FjXML5DCaVxdNLcUKDCszFpFlK1Rm0+ZYy1ZlBEuZGbLTxvcYYsTtwRr9vAy7OY5DemWRpe+SstPyCk42wuipGRMjZmWMyBXCzYqrDuljB8STV9t0Ga9FASlg2tqoL4BKtyM0amvS/CHC/bm4dWun5eM6JeddVlhY0akxnaS+jWAIK2jvlUA+FoC1YrDayxrmmkp5q+3rBIFOFGCWg3v9McDhtcbNwHhEFmrVILIZCAU3wCshQhUnaEhFex7t8NNAiftgL2FopYzPuxr+V6aUDugJJRTNj3kkDUNRKYnIKwjqGNQnrLpDGTpHaEAdfm175znWaKdBilDKErBQb9muyjCDvbxxhi0vsa217ATc6YTrXYS19wKrP1FQV2owJUr8nlRcGxzQivaztOeCaZOUJt9m0TAgZobd7JQche6Tdno4hRky8iL5s3nnM7cI9THL+CCX71hT7os/F/23umCItDZ4H73XpYUR1iRx8kj3M1oCk8DAIrEp31L1iMVx9k30PbruOODGW3UqfLO9dqwQ+qesDh0MkAQzFLNd2JT/g+3QBYiulk7Itm8kQc0hBEl/lEREEZfqsgAn7+o5lh5cd15c2AFfwj/uaq8VN954xjA7OefohiZJbA5PHB91/43Xw2BhUqFE8Pg5MmTBpsQQTKvNhXAjfHahw=
    - secure: wK6A14jETV7tfcM0BCW/LVhtIFELvwErVGFKuMSpfA6X20SIHxRUZx0GbAomi9VJIH/M/GDcxoQvduf6ciwRF6s1QLJJQZ2fSkK5rSeOXLe9IXY9qLF09c+MHq7VNxzsQjChxuwQt2Kl/luu1irflb1tnKmfqzg2aZve+3b7G05QwPmiHRJh518RTu8QHh2SbgrBUo34tg+2peVu27AEUxmkZS9fPHKLDqNd/U4tGxeTfy+fxVsCQwyKu0eRCFkCoWeQkT77WeXqippsrFFYPaOb9JpN4ThDvGOnc+egt4hfV4HUG7MffwcLhoNEHrcUZQYhB3Jgx+drUYVKk7HwF8eZrPTXCT4CMQALR3pknwosj1bvA2YnWJaMeXwb+wS2y4YFqCj4PrdEZoAfcd1Y2SQeJDKFpWxtVjZ2F/wWqarIO7hsIbNESPkui3WXbA3UXoHAQRZgAkQqfeu7BQBGdxXSvrUDiTYqidlkgHrQu+R6yc88XFd6iugRgUu+YTFX0577vUcaJpadSzeAnDJSwwS8e9gNZQcONAG0t/1lTQVwUnFdYGsqRWPaWC12xXoyLSm9B8RlN1+j4xmFZNJq55Jz2FsLCvwke0HJ1o6ppIjqhBT5kqLUqbzjEGJzIXCLUrFdktEb73VgQJCQmiz0aTs1cReninPQR06BP/0pbXc=

before_install:
    - sudo apt-get -y install liblapack-dev libblas-dev gfortran # fix scipy liblas error

install:
  - python3 -m pip install --prefer-binary --only-binary=scipy -r dev_requirements.txt -r requirements.txt

matrix:
  include:
    - name: "Linux - Python 3.7-dev - Cython compilation"
      stage: build
      os: linux
      python: 3.7-dev
      language: python
      script:
        - python3 setup.py build_ext --inplace

    - name: "Linux - Python 3.7-dev - Python sources"
      stage: test
      os: linux
      python: 3.7-dev
      language: python
      script:
        - pytest --cov=. --cov-config=.coveragerc --durations=0 -rw tests
      after_success:
        - if [ $TRAVIS_PULL_REQUEST == "false" ]; then coveralls; fi

    - name: "Linux - Python 3.7-dev - Installed"
      stage: test
      os: linux
      python: 3.7-dev
      language: python
      script:
        - python3 setup.py install
        - rm -rf $PACKAGE_FOLDER
        - pytest tests

    - name: "Linux - Python 3 nightly - Deploy"
      stage: deploy
      script:
        - ls
      deploy:
        - provider: pypi
          user:
            secure: b1ifu/VDUZ7127YXANbkpYiX1lkb3hZtNXU+hHI9G57Ci3XiJSZRH6LLSHc/xxRYSuUjsQuHWMFa/AYCD3kk1ZB0uSNND+zG9orQ20SOhSzyCcw+sKyGKV0MZL1PbR5TqEt7PrGZ2h18rnXJ3zm/b3K75jIEnqf+dcKb9SC1ycrh9fOs2KWmWMnBMAeFagwyaiJ8fKZvq3IVKHw/EZuoVSGiDk+1Ha+ZOM/vQByG1Oeg0ueX9LTFAw4lpzI1aVdBawWpayMGo2JeNTSEsOyQYmKGkwg84muMRUh20rKJyVt7mZlso+0hZk/UT140WjFre8MPW+09HEIG5BQ8h5tguR78BXRVJRi2NRwzLDo0uSycja3f2rJWYzcuzp1ALe/msmtipxnT/vSxDIKkwMl60K6q/dYQ1HPaHzQQGwMVqNfNcHV/vLZfxeBwq74ls3zSkgd0RHBh31g9I1Auapsju6/ocjVHx7+63dNn0pVnMHZVj2OLwdnBHB59ZqCeGzMm2xsUWLIhLcW2wtE4mzOUjRII6IohnZNH4tvJbxuo1esNrK647b+Yn6O7CnZjTdQ3KwnDQlBzCb1moOvP/OpIxEx4lomJxK/GoOVqg+bAEt65NNvoSkbOk9CE7SgB0dkHAoAqlSSwobg14wrInlnn9+IdByDfJATgCxiri5ZDlY0=
          password:
            secure: lqQtLCDTy2VmOwJGGjyeGcrffYWvUJXvweUQw1mS1ufgvycdCXvFR1oLD7Ub27r+ww739pDgzc0KJRbyhhwimV/Bymrjmfy+JFGUC4L2jOUsQbYBxhUoens4p3RqIWIsZjciAcVMs2LeUcLl8risbml2XVruz1oVMskEVvwFon3Alaak1bhtOiZMWTQ3XzI31EAqlc2dmlVlhQ+5E6eVxxf3B86u+r3tpRgOd3TkZBTOtUZxfKLrQFc3/Odz/2XIi/zl5VfnBLuXA2ZahLZ8/Vhj+cHvQpKW78Ck56xnNLmt1B5EWAkzK8Sa//iSCJMiyT//rzELj/bPSF7WUjSl2qzoQfO5Eh098qlYp0otPsJZ9njFtKoDpDSiSn4XcgDfzWEwGPqRFEFaUClDgci38aW9l+TkIk7audnMCdG8cfw1zBPhBQsIBmXP5JqudRyGvmKQyxvWgR99PsRbbE99Mt/j9hxFARieINy98JmEzx2vsn5HFyCc4FZxMF/nQotFW5bdyCjpRP+MS+RsPtaGCB/0DbB/YVemwd6kGpxuSfDUXkSHuBx0EQl8w1/+sEm9Jm+9IpNw1/Pjm2tW7M9sfjpzyFErDagSOg8hxR7lKZ3RPPb9yhmRg8GBAtKP4orN207nEL2kWSmnzyMAi3tyX7odzxEXvtg+zcDB1Cj/ISM=
          skip_existing: true
          skip_cleanup: true
          distributions: "sdist"
          on:
            repo: $GH_REPO
            branch: $DEPLOY_BRANCH
            tags: true
            condition: $TRAVIS_OS_NAME = 'linux'
        - provider: script
          script: travis_wait 20 docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:i686 "i686" "cp37-cp37m" "cp37"
          skip_cleanup: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'linux'"
        - provider: script
          script: travis_wait 20 docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:x86_x64 "x86_64" "cp37-cp37m" "cp37"
          skip_cleanup: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'linux'"
