numpy==1.26.3

# Drakkar-Software requirements
OctoBot-Backtesting>=1.10, <1.11
Async-Channel>=2.2, <2.3
OctoBot-Commons>=1.10, <1.11
OctoBot-Tentacles-Manager>=2.10, <2.11
trading-backend>=1.2.35

# Exchange connection requirements
ccxt==4.5.28 # always ensure real exchanges tests (in tests_additional and authenticated exchange tests) are passing before changing the ccxt version

cryptography # Never specify a version (managed by https://github.com/Drakkar-Software/OctoBot-PyPi-Linux-Deployer)

# OrderBook requirement
sortedcontainers==2.4.0

# Caching
cachetools>=5.5.0, <6
