# Setup requirements
cython==0.29.24
numpy==1.21.3

# Drakkar-Software requirements
OctoBot-Backtesting>=1.6.27, <1.7
Async-Channel>=2.0.12, <2.1
OctoBot-Commons>=1.6.18, <1.7
OctoBot-Tentacles-Manager>=2.6.3, <2.7
trading-backend>=1.0.12

# Exchange connection requirements
ccxt==1.61.66 # always ensure real exchanges tests are passing before changing the ccxt version
cryptography # Never specify a version (managed by https://github.com/Drakkar-Software/OctoBot-PyPi-Linux-Deployer)

# Websocket requirements
websockets==10.1
cryptofeed==2.1.0

# other requirements
sortedcontainers==2.4.0
yarl==1.6.3
idna<2.9,>=2.5
multidict>=4.5,<5.0
